* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.team-member-front {
    width: 33.333%;
    padding-left:15px;
    padding-right: 15px;
}